:root {
  --background: 223 47% 7%;
  --foreground: 0 0% 100%;
  --card: 221 39% 11%;
  --card-foreground: 0 0% 100%;
  --popover: 221 39% 11%;
  --popover-foreground: 0 0% 100%;
  --primary: 217 91% 60%;
  --primary-foreground: 0 0% 100%;
  --secondary: 221 39% 15%;
  --secondary-foreground: 0 0% 100%;
  --muted: 221 39% 15%;
  --muted-foreground: 218 11% 65%;
  --accent: 258 90% 66%;
  --accent-foreground: 0 0% 100%;
  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 0 0% 98%;
  --border: 221 39% 20%;
  --input: 221 39% 20%;
  --ring: 217 91% 60%;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply font-sans antialiased bg-background text-foreground;
  }
}