VITE_FIREBASE_API_KEY=AIzaSyDiPzne2cRvthugVraOe-0G3y10AaB51oo
VITE_FIREBASE_AUTH_DOMAIN=college-chatbot-a955b.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=college-chatbot-a955b
VITE_FIREBASE_STORAGE_BUCKET=college-chatbot-a955b.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=249085942507
VITE_FIREBASE_APP_ID=G-0ZJHKFNZ7N
